.signup {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f0f8ff;
  border-radius: 10px;
  font-size: 1.2rem;
}

.signup label {
  display: block;
  margin-top: 1rem;
}

.signup input,
.signup select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #0078d4;
  border-radius: 6px;
}

.signup button {
  margin-top: 1.5rem;
  padding: 0.75rem;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.signup button:hover {
  background-color: #005a9e;
}
.signup h2 {
  text-align: center;
  color: #0078d4;
  font-size:34px ;
}   
.signup p {
  text-align: center;
  color: #555;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6f2ff;
  width: 1000px;
}